In [1]:
import pandas as pd

In [2]:
path = '***File Path***'

In [4]:
df = pd.read_csv(path, header=None)
df.head()

                                        0
0                        mjpsHcssDzLTzMsz
1  tFhbtClRVtbhRCGBFntNTrLhqrwqWMDMTWTqMq
2      LltbngLGRSBgSgGRCJdSdQHvdfmQccmjSQ
3                      lBslsZDDWdGdGpSMts
4                  grQhDvqLQHDNGJJtbRMQQJ

In [5]:
sack_list = df[0].to_list()

In [30]:
first_com = []
second_com = []

for i in range(len(sack_list)):
    first_com.append(sack_list[i][:int(len(sack_list[i])/2)])
    second_com.append(sack_list[i][int(len(sack_list[i])/2):])
    
#len(first_com)

300

In [33]:
def find_common(a,b):
    for i in range(len(a)):
        if a[i] in b:
            return a[i]
    
common = []

for item in range(len(first_com)):
    com = find_common(first_com[item],second_com[item])
    common.append(com)

In [34]:
ord('a')

97

In [35]:
ord('A')

65

In [36]:
ord('a') -96

1

In [37]:
ord("A")- 38

27

In [41]:
def value(letter):
    if letter.islower():
        return ord(letter) - 96
    else:
        return ord(letter) - 38

In [42]:
sum_i = 0
for com in common:
    sum_i += value(com)

print("The sum of the priorities of those item tyeps is:",sum_i)

The sum of the priorities of those item tyeps is: 8123

#### Part 2

In [43]:
len(sack_list)

300

In [72]:
groups = []

for line in range(int(len(sack_list)/3)):
    group = sack_list[3*line:3*line+3]
    groups.append(group)

In [74]:
def group_find_common(a,b,c):
    for i in range(len(a)):
        if a[i] in b and a[i] in c:
            return a[i]  

group_common = []

for i in range(len(groups)):
    com = group_find_common(groups[i][0],groups[i][1],groups[i][2])
    group_common.append(com)

    
sum_g = 0

for com in group_common:
    sum_g += value(com)

print("The sum of the priorities of those item tyeps is:",sum_g)

The sum of the priorities of those item tyeps is: 2620