In [1]:
import pandas as pd

In [2]:
path = '***File Path***'

In [3]:
df = pd.read_csv(path, header = None)

In [4]:
df.head(10)

     0
0  C Z
1  C Z
2  A X
3  A X
4  B Z
5  B Z
6  B Z
7  A Z
8  B X
9  A X

In [5]:
df[['Opp','Player']]=df[0].str.split(" ", expand=True)

In [7]:
df = df.iloc[:, 1:]

In [8]:
df.head()

  Opp Player
0   C      Z
1   C      Z
2   A      X
3   A      X
4   B      Z

#### A for Rock, B for Paper, and C for Scissors.
#### X for Rock, Y for Paper, and Z for Scissors. 
#### The score for a single round is the score for the shape you selected (1 for Rock, 2 for Paper, and 3 for Scissors) plus the score for the outcome of the round (0 if you lost, 3 if the round was a draw, and 6 if you won).

In [9]:
def compare (row):
    if (row['Opp'] == "A" and row['Player'] == "X") | (row['Opp']== "B" and row['Player'] == "Y") | (row['Opp'] == "C" and row['Player'] == "Z"):
            return "Draw"
    elif (row['Opp'] == "A" and row['Player'] == "Y") | (row['Opp'] == "B" and row['Player'] == "Z") | (row['Opp'] == "C" and row['Player'] == "X"):
            return "Win"
    else:
        return "Loose"

df['Result']= df.apply(lambda row: compare(row), axis=1)

df.head()

  Opp Player Result
0   C      Z   Draw
1   C      Z   Draw
2   A      X   Draw
3   A      X   Draw
4   B      Z    Win

In [10]:
num_Draw = df['Result'].value_counts()['Draw']
num_Draw

1308

In [11]:
num_Win = df['Result'].value_counts()['Win']
num_Loose = df['Result'].value_counts()['Loose']
num_rock = df['Player'].value_counts()['X']
num_paper = df['Player'].value_counts()['Y']
num_scissor = df['Player'].value_counts()['Z']

In [12]:
total_score = num_Win*6 + num_Draw*3 + num_rock*1 + num_paper*2 + num_scissor*3
total_score

14264

#### Rule changed
#### X means you need to lose, Y means you need to end the round in a draw, and Z means you need to win.
#### The score for a single round is the score for the shape you selected (1 for Rock, 2 for Paper, and 3 for Scissors) plus the score for the outcome of the round (0 if you lost, 3 if the round was a draw, and 6 if you won).

In [19]:
df2 = df.copy()
df2

     Opp Player Result
0      C      Z   Draw
1      C      Z   Draw
2      A      X   Draw
3      A      X   Draw
4      B      Z    Win
...   ..    ...    ...
2495   A      X   Draw
2496   C      Z   Draw
2497   C      Y  Loose
2498   C      Z   Draw
2499   C      Y  Loose

[2500 rows x 3 columns]

In [20]:
df2['New_Result'] = df2["Player"]
df2 = df2.drop(columns=['Player','Result'])

df2

     Opp New_Result
0      C          Z
1      C          Z
2      A          X
3      A          X
4      B          Z
...   ..        ...
2495   A          X
2496   C          Z
2497   C          Y
2498   C          Z
2499   C          Y

[2500 rows x 2 columns]

In [22]:
def outcome(row):
    if row['New_Result'] == "X":
        if row['Opp'] == 'A':
            return 'C'
        if row['Opp'] == 'B':
            return 'A'
        else: 
            return 'B'
    if row['New_Result'] == "Y":
        return row['Opp']
    if row["New_Result"] == 'Z':
        if row['Opp'] == 'A':
            return 'B'
        if row['Opp'] == 'B':
            return 'C'
        if row['Opp'] == 'C':
            return 'A'

df2['Player'] = df2.apply(lambda row: outcome(row), axis=1)

In [23]:
df2.head()

  Opp New_Result Player
0   C          Z      A
1   C          Z      A
2   A          X      C
3   A          X      C
4   B          Z      C

In [25]:
num_Loose = df2['New_Result'].value_counts()['X']
num_Draw = df2['New_Result'].value_counts()['Y']
num_Win = df2['New_Result'].value_counts()['Z']

num_rock = df2['Player'].value_counts()['A']
num_paper = df2['Player'].value_counts()['B']
num_scissor = df2['Player'].value_counts()['C']

In [26]:
new_score = num_Win*6 + num_Draw*3 + num_rock*1 + num_paper*2 + num_scissor*3
new_score

12382