In [1]:
import pandas as pd

In [62]:
path = "***File Path***"

In [63]:
df = pd.read_csv(path, header=None)

In [64]:
df.head()

             0
0     7-24,8-8
1   2-75,37-51
2  47-78,20-39
3  53-91,34-53
4  13-50,14-50

In [65]:
df[['first','second']] = df[0].str.split(',',expand=True)
df.head()

             0  first second
0     7-24,8-8   7-24    8-8
1   2-75,37-51   2-75  37-51
2  47-78,20-39  47-78  20-39
3  53-91,34-53  53-91  34-53
4  13-50,14-50  13-50  14-50

In [66]:
first = df['first'].to_list()
second = df['second'].to_list()

In [67]:
#first[0].split('-')

def get_start(a):
    return int(a.split('-')[0])

def get_end(a):
    return int(a.split('-')[1])

In [68]:
first_range = []
second_range = []

for num in first:
    start = get_start(num)
    end = get_end(num)
    nums = []
    nums.append(start)
    nums.append(end)
    first_range.append(nums)

for num in second:
    start = get_start(num)
    end = get_end(num)
    nums = []
    nums.append(start)
    nums.append(end)
    second_range.append(nums)

In [70]:
count = 0
for i in range(len(first_range)):
    if (first_range[i][0] >= second_range[i][0]) and (first_range[i][1] <= second_range[i][1]) or (second_range[i][0] >= first_range[i][0]) and (second_range[i][1] <= first_range[i][1]):
        count = count + 1

print(count)

562

#### Part 2

In [73]:
total = len(first_range)

not_overlap = 0
for i in range(len(first_range)):
    if first_range[i][0] > second_range[i][1] or first_range[i][1] < second_range[i][0]:
        not_overlap += 1

total - not_overlap

924